# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [6]:

CREATE TABLE JunkDB_STL_Sept2022.jordynv.planned_makes (
    food_id INT PRIMARY KEY IDENTITY (1, 1),
    breakfast VARCHAR(50) NOT NULL,
    dinner VARCHAR(50) NOT NULL,
    dessert VARCHAR(50) NOT NULL,
)

Add three rows to your table that are your planned makes.

In [10]:
SET IDENTITY_INSERT JunkDB_STL_Sept2022.jordynv.planned_makes ON
INSERT INTO JunkDB_STL_Sept2022.jordynv.planned_makes (food_id, breakfast, dinner, dessert)
VALUES (1, 'bagel', 'ramen noodles', 'brownies')

In [11]:
SET IDENTITY_INSERT JunkDB_STL_Sept2022.jordynv.planned_makes ON
INSERT INTO JunkDB_STL_Sept2022.jordynv.planned_makes (food_id, breakfast, dinner, dessert)
VALUES (2, 'eggs', 'salad', 'ice cream')

In [14]:
SET IDENTITY_INSERT JunkDB_STL_Sept2022.jordynv.planned_makes ON
INSERT INTO JunkDB_STL_Sept2022.jordynv.planned_makes (food_id, breakfast, dinner, dessert)
VALUES (3, 'smoothie', 'tacos', 'cookies');

SELECT TOP 10 *
FROM JunkDB_STL_Sept2022.jordynv.planned_makes

food_id,breakfast,dinner,dessert
1,bagel,ramen noodles,brownies
2,eggs,salad,ice cream
3,smoothie,tacos,cookies

: Msg 2627, Level 14, State 1, Line 2
Violation of PRIMARY KEY constraint 'PK__planned___2F4C4DD8F95A3C43'. Cannot insert duplicate key in object 'jordynv.planned_makes'. The duplicate key value is (3).

## Update a Row

Change different values in one of your three rows.

In [16]:
UPDATE JunkDB_STL_Sept2022.jordynv.planned_makes 
SET breakfast = 'omelette'
WHERE food_id = 2;

SELECT TOP 5 *
FROM JunkDB_STL_Sept2022.jordynv.planned_makes

food_id,breakfast,dinner,dessert
1,bagel,ramen noodles,brownies
2,omelette,salad,ice cream
3,smoothie,tacos,cookies

## Delete a Row

Delete one of the rows from your table.

In [17]:
DELETE FROM JunkDB_STL_Sept2022.jordynv.planned_makes 
WHERE food_id = 3;

SELECT TOP 5 *
FROM JunkDB_STL_Sept2022.jordynv.planned_makes

food_id,breakfast,dinner,dessert
1,bagel,ramen noodles,brownies
2,omelette,salad,ice cream

## Drop the Table

While this has been fun, it is time to drop the table!

In [18]:
DROP TABLE JunkDB_STL_Sept2022.jordynv.planned_makes;